body {
  height: 100vh;
  color: #d8d9d9;
}

.sidebar {
  background: #1c1d20;
}
.main {
  background: #22252a;
}

.small-text {
  font-size: 11px !important;
  color: #414446;
}

.card {
  background: transparent;
  border: none;
  font-weight: normal !important;
}

.card-title {
  margin: 0;
  color: #a9a9ab;
  font-size: 0.9rem;
}

.card-text {
  font-size: 1.5rem;
  font-weight: bold;
}
.CircularProgressbar {
  width: 70% !important;
  vertical-align: middle;
  margin-top: 2rem;
}
.CircularProgressbar .CircularProgressbar-text {
  fill: white !important;
  font-size: 20px;
}

.CircularProgressbar .CircularProgressbar-trail {
  stroke: #292a2c;
  stroke-linecap: round;
}

hr {
  background: #45433d !important;
}

.medium-text {
  font-size: medium;
}

.header {
  color: #ecac05;
}

.badge {
  width: 60px;
}

.blue {
  background: linear-gradient(
    90deg,
    rgba(19, 154, 217, 1) 0%,
    rgba(94, 218, 223, 1) 100%
  );
}

.light-gray {
  background: linear-gradient(
    90deg,
    rgba(38, 103, 132, 1) 0%,
    rgba(61, 125, 132, 1) 100%
  );
}

.dark-gray {
  background: linear-gradient(
    90deg,
    rgba(30, 59, 76, 1) 0%,
    rgba(45, 72, 77, 1) 100%
  );
}
